.wrapper{
    background-color:rgb(243, 243, 243);
    border:1px solid rgb(14, 13, 13);
    display:flex;
    flex-wrap:wrap;
    height:calc(1px*var(--size));
    width:calc(1px*var(--size));
}

.boxDiv{
    background: color rgb(255, 255, 255);
    border:1px solid rgb(8, 8, 8);
    width: 40px;
    height:40px;
    color:grey;
}
