.wrapper{
    background-color:rgb(243, 243, 243);
    border:1px solid rgb(14, 13, 13);
    display:flex;
    flex-wrap:wrap;
    height:calc(var(--wrapperSize)*1px);
    width:calc(var(--wrapperSize)*1px);
}

.boxDiv{
    background: color rgb(255, 255, 255);
    border:1px solid rgb(8, 8, 8);
    width: calc(var(--size)*1px);
    height: calc(var(--size)*1px);
    color:grey;
}
